<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="public" value="https://api.nuget.org/v3/index.json" />
		<add key="csharp-micromanager-feed" value="https://pkgs.dev.azure.com/czadokonrad/CSharpMicroManager/_packaging/csharp-micromanager-feed/nuget/v3/index.json" />
	</packageSources>
</configuration>